.section-dashboard-charts{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.h1-dashboard-title{
    font-size: 2.5rem;
    text-align: center;
}

.div-chart-1{
    min-width: 500px;
    max-width: 900px;
}
.div-chart-2{
    min-width: 500px;
    max-width: 900px;
}